.cards-grid {
  display: flex;
  gap: 1rem;
  overflow: auto;
  scroll-snap-type: x mandatory;
  padding: 2rem;

  .card-item {
    flex: 0 0 60%;
    scroll-snap-align: start;
    min-height: 300px;
    display: flex;
    flex-direction: column;

    .card-text {
      padding: 1.5rem;
    }

    h4 {
      margin-bottom: 0.75rem;
      font-size: 1.5rem;
      color: var(--primary);
    }

    p {
      font-size: 1rem;
    }

    @media (min-width: 768px) {
      flex: 1 1 calc(33.333% - 0.666rem)
    }
  }

  &.two-columns {
    flex-wrap: wrap;
    .card-item {
      flex: 0 0 80%;

      @media (min-width: 768px) {
        flex: 1 1 calc(50% - 0.5rem) !important;
      }
    }
  }
}