:root {
  --primary: #07316a;
  --primary-light: #0348a5;
  --primary-dark: #041d40;
  --accent-color: #ff5641;
  --accent-dark: #cf0177;
  --accent-color-5: rgba(255, 86, 65, 0.05);
  --accent-dark-5: rgb(207, 1, 119, 0.05);
  --highlight-color: rgba(255, 255, 255, 0.8);
  --background-light: #f5f7fa;
  --background-dark: #ececef;
  --background-darker: #e1e1e8;
  --background-darker-rgb: rgb(235, 235, 241);
  --text-color: #2c2c30;
  --text-color-light: #494959;

  --radius: 0.25rem;
  --border-color: rgba(44, 44, 48, 0.1);
  --border-width: 1px;
}